
body {
  background: #e0e0e0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 11fr;
  
  grid-template-areas: "H H" 
                       "N L";  
  background-color: #ECF7EF;

}

.Header {
  grid-area: H;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  grid-template-areas: "I I I I I";
  min-height: 50px;
  background-color: bisque;
  color: gray;
  font: 18px/1.33 Verdana,sans-serif;
  -webkit-user-select: none;
}

a {
  color: gray;
  font: 18px/1.33 Verdana,sans-serif;
  text-decoration: none;
  -webkit-user-select: none;
}

a.active {
  color: black;
}

a:hover {
  text-decoration: wavy;
  color: black;
}

.Nav {
  grid-area: N;
  background-color: #DDF2F3;
  color: gray;
  font: 11px/1.33 Verdana,sans-serif;
  -webkit-user-select: none;
}

.Login {
  grid-area: L;
  min-height: 700px;
  justify-self: center;
}

.success {
  font-size: .875em;
  color: #198754;
}

.noSuccess {
  font-size: .875em;
  color: red;
}

.popup_login {
  width: 500px;
  display: inline-grid;
  margin-top: 100px;
  padding: 30px;
  background-color: lightcyan;
}

.form-label {
  color: cadetblue;
}

.menuItem {
  background-color: bisque;  
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.menuItem:hover {
  color: black;
}

.NavItem {
  font-size: large;
  margin-top: 50px;
  text-align: left;
  margin-left: 30px;
}